<div class="spotlight">
  <section class="spotlightHero">
    <div class="titleContain mainHolder">
      <h1>Be Smarter.<br>Be Healthier.</h1>
      <a href="/products/alcohoot-breathalyzer"><button>BUY NOW</button></a>
    </div>
  </section>
</div>

<section class="contentRight track">
  <div class="contentRightHolder mainHolder">
    <div class="clear"></div>
    <div class="bigPhoneContent">
      <h2>Because Your Health and Wellness is Important to You</h2>
      <p>
        Technology trusted by moms and law enforcement alike.<br><br>
      SmartLine’s algorithm remembers your habits and suggests healthier behavior.<br><br>
      Alcohoot’s app acts as the drinking buddy who always has your best interest in mind.<br><br>
      </p>
    </div>
  </div>
  <div class="clear"></div>
</section>

<section class="contentRight measure">
  <div class="contentLeftHolder mainHolder">
    
    <div class="clear"></div>
    <div class="bigPhoneContent">
      <h2>Because You Measure Your Life</h2>
      <p>
        Technology trusted by moms and law enforcement alike.<br><br>
      SmartLine’s algorithm remembers your habits and suggests healthier behavior.<br><br>
      Alcohoot’s app acts as the drinking buddy who always has your best interest in mind.<br><br>
      </p>
    </div>
  </div>
  <div class="clear"></div>
</section>

<section class="contentRight moment">
  <div class="contentRightHolder mainHolder">

    <div class="clear"></div>
    <div class="bigPhoneContent">
      <h2>Because You Live in the Moment</h2>
      <p>
        Technology trusted by moms and law enforcement alike.<br><br>
      SmartLine’s algorithm remembers your habits and suggests healthier behavior.<br><br>
      Alcohoot’s app acts as the drinking buddy who always has your best interest in mind.<br><br>
      </p>
    </div>
  </div>
  <div class="clear"></div>
</section>

<section class="contentRight lights">
  <div class="contentLeftHolder mainHolder">
    <div class="clear"></div>
    <div class="bigPhoneContent">
      <h2>Because You Cant Afford to See These Lights</h2>
      <p>
        Technology trusted by moms and law enforcement alike.<br><br>
      SmartLine’s algorithm remembers your habits and suggests healthier behavior.<br><br>
      Alcohoot’s app acts as the drinking buddy who always has your best interest in mind.<br><br>
      </p>
    </div>
  </div>
  <div class="clear"></div>
</section>

<section class="contentRight care">
  <div class="contentRightHolder mainHolder">
    <div class="clear"></div>
    <div class="bigPhoneContent">
      <h2>Because You Care</h2>
      <p>
        Technology trusted by moms and law enforcement alike.<br><br>
      SmartLine’s algorithm remembers your habits and suggests healthier behavior.<br><br>
      Alcohoot’s app acts as the drinking buddy who always has your best interest in mind.<br><br>
      </p>
    </div>
  </div>
  <div class="clear"></div>
</section>


{{ page.content }}
