<section class="support">
<h1>{{ page.title }}</h1>

  <div class="mainHolder">
    
    <div id="supportNav" class="supportNav">
      <a href="#faq" class="active">DEVICE FAQ</a><br>
      <a href="#shipping">SHIPPING</a><br>
      <a href="#orders">ORDERS</a><br>
      <a href="#warranty">WARRANTY</a><br>
      <a href="#legal">LEGAL</a><br>
    </div>
    <div class="deviceFaq supportContent">
      <a name="faq"></a>
      <h2>Device FAQ</h2>
      <h3>How do I use Alcohoot?</h3>
      <p>Alcohoot is very easy to use. Open the Alcohoot app on your smartphone, connect the device to your smartphone’s headphone jack connection and click “Begin Test.” When the blue LED turns on, blow into the chamber for 4 seconds. Your results will appear shortly after.</p>
      <h3>How accurate is Alcohoot?</h3>
      <p>Alcohoot is comparable to professional grade law enforcement alcohol screening devices with +/- 0.01% BAC @ 0.100% BAC. Alcohoot is also a registered medical device with the FDA and meet all the FDA’s quality standard requirements.</p>
      <h3>Which smartphones work with Alcohoot?</h3>
      <div class="iosCompatible">
        <h4>iOS</h4>
          <p>
          Compatible with all iOS devices running iOS 6.0+<br>
          iPhone 3GS<br>
          iPhone 4<br>
          iPhone 4S<br>
          iPhone 5<br>
          iPhone 5S<br>
          iPod Touch 4th Gen<br>
          iPod Touch 5th Gen<br>
          iPad (All versions)</p>
      </div>
      <div class="androidCompatible">
        <h4>Android</h4>
        <p>
          Alcohoot is compatible with many phones running Android 4.0 (Ice Cream Sandwich) or later.<br><br>
          Tested and verified compatibility with these devices:<br>
          Samsung Galaxy S3<br>
          Samsung Galaxy S4<br>
          Samsung Galaxy Nexus<br>
          Samsung Nexus S<br>
          Samsung Galaxy Note<br>
          Samsung Galaxy Note 2<br>
          HTC Sensation<br>
          HTC Desire C<br>
          HTC One X<br>
          HTC One SV<br>
          HTC One V<br>
          Sony Zperia Z<br>
          Sony Experia L<br>
          Sony Experia Arc S<br>
          LG P705<br>
          LG Nexus 4<br>
          * This list does not constitute a full compatibility list, only devices we have tested. If your Android runs Android 4.0+ it is very likely it is compatible with Alcohoot.
      </div>
    </div>
    <div class=" supportContent">
      <a name="shipping"></a>
      <h2>Shipping</h2>
      <h3>Why is Alcohoot unavailable for shipping in my country?</h3>
      <p>Currently, Alcohoot is only available in the United States. We plan on growing internationally soon.</p>
    </div>
    <div class=" supportContent">
      <a name="orders"></a>
      <h2>Orders</h2>
      <h3>Why is Alcohoot unavailable for shipping in my country?</h3>
      <p>Currently, Alcohoot is only available in the United States. We plan on growing internationally soon.</p>
    </div>
    <div class=" supportContent">
      <a name="warranty"></a>
      <h2>Warranty</h2>
      <h3>Why is Alcohoot unavailable for shipping in my country?</h3>
      <p>Currently, Alcohoot is only available in the United States. We plan on growing internationally soon.</p>
    </div>
    <div class=" supportContent">
      <a name="legal"></a>
      <h2>Legal</h2>
      <h3>Why is Alcohoot unavailable for shipping in my country?</h3>
      <p>Currently, Alcohoot is only available in the United States. We plan on growing internationally soon.</p>
    </div>
  </div>
</section>
<div class="clear"></div>



<div class="rte">
	{{ page.content }}
</div>

<script>
$( "#supportNav a" ).click(function() {
  $("#supportNav a").removeClass("active");
  $(this).addClass("active");
});


</script>













